body {
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	overflow-x: hidden;
	background: rgba(192, 149, 228, 1);

	font-family: Inter;
}

img {
	position: absolute;
	display: block;
	margin: 0px;
	border: none;
	padding: 0px;
}

div {
	position: absolute;
}

input {
	color:rgba(192, 149, 228, 1);
	outline: none;
}

#pseudo_logo {
	top: 40px;
	left: 40px;
	width: 130px;
	height: 130px;
	background: rgba(255, 183, 197, 1);
}
#psuedo_logo {
	top: 70px;
	left: 70px;
	width: 130px;
	height: 130px;
	background: rgba(252, 237, 242, 1);
}

#search_bar {
	position: absolute;

	top: 470px;
	left: 306px;
	width: 841px;
	height: 84px;

	border-radius: 200px;
	background: rgba(252, 237, 242, 1);
}

#search-form {
	position:absolute;
	left: 60px;

	width: 730px;
	height:82px;

	border: none;

	background:rgba(252, 237, 242, 1);
	
	font-family: inter, serif;
	font-size:45px;
}

::placeholder {
	color:rgb(216, 177, 248);
	font-family: inter, serif;
	font-weight: 300;
}

#google_icon {
	top: 497px;
	left: 327px;
	width: 30px;
	height: 29.41px;
}


#time {
	top: 315px;
	left: 457px;
	width: 651px;
	height: 180px;
	overflow: hidden;

	font-size: 120px;
	color: #FCEDF2;
}


#date {
	top: 579px;
	left: 549px;
	width: 391.5px;
	height: 92.5px;
	overflow: hidden;

	font-size: 45px;
	color: #FCEDF2;
}


#funds_raised {
	top: 26px;
	left: 1136px;
	width: 317px;
	height: 67px;
	overflow: hidden;

	font-size: 40px;
	text-align: left;
	color: #FCEDF2;
}


#options {
	top: 33px;
	left: 1385px;
	width: 30px;
	height: 32px;
}